/* .container {
    background-image: url('/assets/images/quiz.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* This will make the background cover the entire screen 
  */
  .container::before{
    content: "";
    background-image: url('/assets/images/quiz1.jpg');
    background-size: cover;
    background-position: center;
    height: 460px;
    width: 100%;
    left: 0;
  top: 0;

    z-index: -1;
    opacity: 0.5;
    position: absolute;


  }
button{
  background-color: palevioletred;margin-top:4vw; margin-left: 25vh;
}

   .container p
  {

    
  }
  .container{
    width: 100%;
    height: 600px;

    padding: 80px 30px;
    /* text-align: center; */
    /* padding-left: 100px; */

  }
