<div class="quiz-container">
  <h1>Available Quizzes</h1>
  <div class="quiz-list">
    <div class="quiz-item" *ngFor="let quiz of quizzes">
      <h2>{{ quiz.title }}</h2>
      <p>{{ quiz.description }}</p>
      <p>{{ getFormattedTime(quiz.time) }}</p>

      <div class="quiz-actions">
        <button class="btn primary" [routerLink]="['/admin/add-question', quiz.id]">Add Question</button>
        <button class="btn warning" [routerLink]="['/admin/edit-quiz', quiz.id]">Edit Quiz</button>
        <button class="btn danger" (click)="deleteQuiz(quiz.id)">Delete Quiz</button>
      </div>
    </div>
  </div>
</div>
