 <div class="quiz-container">
    <h1>Available Quizzes</h1>
    <div class="quiz-list">
      <div class="quiz-item" *ngFor="let quiz of quizzes">
        <h2>{{ quiz.title }}</h2>
        <p>{{ quiz.description }}</p>
        <p>{{ getFormattedTime( quiz.time) }}</p>
  
        <button routerLink="/admin/add-question/{{quiz.id}}" >Add Question</button>
        <button routerLink="/admin/edit-quiz/{{quiz.id}}" >Edit Quiz</button>
        <button (click)="delete(quiz.id)" >Delete Quiz</button>
</div>
    </div>
  </div> 
