<div class="quiz-container">
  <div class="timer">Time Remaining: {{ getFormattedTime() }}</div>

  <h1>Available Questions</h1>

  <form (ngSubmit)="submitAnswer()">
    <div class="quiz-list">
      <div *ngFor="let question of questions" class="quiz-item">
        <h4>{{ question.questionText }}</h4>

        <div class="option" *ngFor="let opt of ['optionA', 'optionB', 'optionC', 'optionD']">
          <label>
            <input type="radio" 
                   name="question{{ question.id }}" 
                   [value]="question[opt]" 
                   (change)="onAnswerChange(question.id, question[opt])" />
            {{ question[opt] }}
          </label>
        </div>
      </div>
    </div>

    <button type="submit">Submit</button>
  </form>
</div>
