
<div class="quiz-container">
  <div>
    <div class="timer">Time Remaining: {{ getFormattedTime() }}</div>
  </div>

  <h1>Available Questions</h1>

  <form (ngSubmit)="submitAnswer()">
    <div class="quiz-list">
      <div *ngFor="let question of questions" class="question">
        <h4>{{ question.questionText }}</h4>

        <div>
          <label>
            <input type="radio" name="question{{ question.id }}" (change)="onAnswerChange(question.id, question.optionA)" />
            {{ question.optionA }}
          </label>
        </div>

        <div>
          <label>
            <input type="radio" name="question{{ question.id }}" (change)="onAnswerChange(question.id, question.optionB)" />
            {{ question.optionB }}
          </label>
        </div>

        <div>
          <label>
            <input type="radio" name="question{{ question.id }}" (change)="onAnswerChange(question.id, question.optionC)" />
            {{ question.optionC }}
          </label>
        </div>

        <div>
          <label>
            <input type="radio" name="question{{ question.id }}" (change)="onAnswerChange(question.id, question.optionD)" />
            {{ question.optionD }}
          </label>
        </div>

      </div>
    </div>

    <button type="submit">Submit</button>
  </form>
</div>