<nav class="main-navbar">
  <div class="nav-left">
    <span class="logo">QuizApp</span>
    <button class="hamburger" (click)="toggleMenu()">☰</button>
  </div>

  <ul class="nav-right" [class.open]="menuOpen">
    <ng-container *ngIf="isAdminLoggedIn">
      <li><a routerLink="/admin/dashboard" (click)="menuOpen = false" routerLinkActive="active">Dashboard</a></li>
      <li><a routerLink="/admin/create-test" (click)="menuOpen = false" routerLinkActive="active">Create Quiz</a></li>
      <li><a routerLink="/admin/view-test-result" (click)="menuOpen = false" routerLinkActive="active">View Results</a></li>
      <li><button (click)="logout()">Logout</button></li>
    </ng-container>

    <ng-container *ngIf="isUserLoggedIn && !isAdminLoggedIn">
      <li><a routerLink="/user/dashboard" (click)="menuOpen = false" routerLinkActive="active">Dashboard</a></li>
      <li><a routerLink="/user/view-test-results" (click)="menuOpen = false" routerLinkActive="active">View Result</a></li>
            <li><a routerLink="/user/generate-pdf" (click)="menuOpen = false" routerLinkActive="active">Generate pdf Result Report of all Quiz</a></li>
      <li><button (click)="logout()">Logout</button></li>
    </ng-container>

    <ng-container *ngIf="!isUserLoggedIn && !isAdminLoggedIn">
      <li><a routerLink="/home" (click)="menuOpen = false" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/register" (click)="menuOpen = false" routerLinkActive="active">Sign Up</a></li>
      <li><a routerLink="/login" (click)="menuOpen = false" routerLinkActive="active">Login</a></li>
    </ng-container>
  </ul>
</nav>

<router-outlet></router-outlet>
