<nav class="main-navbar">
  <div class="nav-left">
    <a routerLink="/" class="logo">QuizApp</a>
  </div>
  <ul class="nav-right">
    <ng-container *ngIf="isAdminLoggedIn">
      <li><a routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a></li>
      <li><a routerLink="/admin/create-test" routerLinkActive="active">Create Quiz</a></li>
      <li><a routerLink="/admin/view-test-result" routerLinkActive="active">View Results</a></li>
      <li><button (click)="logout()">Logout</button></li>
    </ng-container>

    <ng-container *ngIf="isUserLoggedIn && !isAdminLoggedIn">
      <li><a routerLink="/user/dashboard" routerLinkActive="active">Dashboard</a></li>
      <li><a routerLink="/user/view-test-results" routerLinkActive="active">View Result</a></li>
      <li><button (click)="logout()">Logout</button></li>
    </ng-container>

    <ng-container *ngIf="!isUserLoggedIn && !isAdminLoggedIn">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/register" routerLinkActive="active">Sign Up</a></li>
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
    </ng-container>
  </ul>
</nav>

<router-outlet></router-outlet>
