<div class="quiz-container">
  <h1>Available Questions</h1>
  <div class="quiz-list">
    <div *ngFor="let question of questions" class="question-card">
      <h4>{{ question.questionText }}</h4>

      <div class="option">
        <label>
          <input type="radio" name="question{{ question.id }}" />
          {{ question.optionA }}
        </label>
      </div>
      <div class="option">
        <label>
          <input type="radio" name="question{{ question.id }}" />
          {{ question.optionB }}
        </label>
      </div>
      <div class="option">
        <label>
          <input type="radio" name="question{{ question.id }}" />
          {{ question.optionC }}
        </label>
      </div>
      <div class="option">
        <label>
          <input type="radio" name="question{{ question.id }}" />
          {{ question.optionD }}
        </label>
      </div>
    </div>
  </div>
</div>
